*{
    margin: 0;
    padding: 0;
    background-color: #E2E2E0;
}

header {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgb(23, 128, 233);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 3rem;
    margin: 10px;
    width: 100px;
    height: 100px;
    transition: all 3s ease; 

}
.button:hover {
    background-color: rgb(45, 143, 240);
}
.button:active{
    box-shadow: 10px 10px 10px rgb(13, 94, 175);
    transform: scale(0.95);      
    transition: all 0.1s ease;  


}

.img {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
